body {
  color: orange;
  font-size: 28px;
}

h1 {
  color: blue;
}

h1 {
  color: green;
}

#hello {
  color: blue;
}

.big{
  color: pink;
}

p {
  margin: 15px;
}

.first-sentence {
  margin: 0px;
  background-color: blue;
}
.second-sentence-absolute {
  margin: 0px;
  background-color: green;
  position: absolute;
  top: 30px;
  left: 30px;
}
.second-sentence-relative {
  margin: 0px;
  background-color: green;
  position: relative;
  top: 30px;
  left: 30px;
  z-index: -10;
}
.second-sentence-fixed {
  margin: 0px;
  background-color: green;
  position: fixed;
  top: 30px;
  left: 30px;
}
.third-sentence {
  position: relative;
  margin: 0px;
  background-color: red;
  z-index: 15;
}

div { 
}

#important-word {
}

.banana {
  color: yellow;
}

div.apple {
  color: green;
}

/* any div anywhere, and any element with class
   strawberry will be red  */
h3, .strawberry {
  color: red;
}

/* any elements with class strawberry, that has
an ancestor that is a div will be red  */

h3 .strawberry{
  color: red;
}

/* any div with class strawberry will be red  */

h3.strawberry {
  color: red;
}



